<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="FilesToLinks" />
    <title>FAQ</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css"/>
  </head>
  <body id="servicesPage">
    <div class="parallax-window" data-parallax="scroll" data-image-src="https://f2links.herokuapp.com/135169/bg-01.jpg?hash=AgADYg">
      <div class="container-fluid">

          <div id="file-name">
           <marquee direction = "left"> %s</marquee>
        </div>  
        <div class="container">
          <tag src="%s" class="player">
            
          </tag></div>
        <!-- Page footer -->
        <footer class="row">
          <p class="col-12 text-white text-center tm-copyright-text">
            Copyright &copy; 2022 FilesToLinks. 
          </p>
        </footer>
      </div>
      <!-- .container-fluid -->
    </div>
    <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
    <script type="text/javascript">
              const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
        toogle.onclick = () => {
            body.classList.toggle('dark')
            footer.classList.toggle('dark')
        }
    </script>
  </body>
</html>